html, body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
}

nav:not(.mm-menu) {
	display: none;
}

.header, .footer {
	text-align: center;
}

.header, .footer {
	background: #777;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;

	width: 100%;
	height: 40px;
	padding: 0px;
}

.header.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
}

.footer.fixed {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.header a {
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 10px;
}

.content {
	padding: 0px 0px 0px 0px;
}

.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

.rotate-north {
	top: 0.5em;
	left: 3em;
	text-align: center;
}

.ol-rotate, .ol-rotate:hover {
	left: 5.5em;
	right: inherit;
	background-color: inherit;
}

#copyright .ol-attribution {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
}